body{
    background-color:#b2c2cf;
}
#container{
    padding: 10px;
    max-width: 1080px;
    margin: auto;
    background-color: white;
    
}
header, footer{
    background-color:#236191;
    color:whitesmoke;
    margin: 0px;
}
a{
   color:black;
}